@model IEnumerable<InvoiceApp.Models.ChaniaCustomer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChaniaFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChaniaTaxID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChaniaCountryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChaniaPostCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChaniaCityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChaniaAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChaniaEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChaniaFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChaniaTaxID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChaniaCountryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChaniaPostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChaniaCityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChaniaAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChaniaEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChaniaCustomerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChaniaCustomerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChaniaCustomerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
