@model InvoiceApp.Models.ChaniaInvoice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChaniaInvoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChaniaDocDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChaniaDocDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChaniaDocType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChaniaDocType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChaniaDocNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChaniaDocNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChaniaIsReversal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChaniaIsReversal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChaniaDocAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChaniaDocAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChaniaDocCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChaniaDocCurrency)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ChaniaDocID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
