@model InvoiceApp.Models.ChaniaTransaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChaniaTransaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChaniaAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChaniaAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChaniaCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChaniaCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChaniaDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChaniaDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChaniaGLAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChaniaGLAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChaniaTranType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChaniaTranType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChaniaInvoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChaniaInvoice.ChaniaDocID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ChaniaTransactionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
